/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$grid-gutter-width:         11px !default;

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Colors */
$facebook-blue: #435992;
$rss-yellow: #CE8F44;
$twitter-blue: #688EC2;
$youtube-red: #B53632;
$main-red: #B72631;
$black: #000;
$light-grey: #BCBBBC;
$copy-grey: #575757;
$white: #FFF;
$shadow: #8A8987;
$form-grey: #B1B1B1;

/*Fonts*/
$header-text: 'Titillium Web', sans-serif;
$body-text: 'Roboto', sans-serif;

/*Global Styles*/

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
}

body::before {
  content:"";
  background-color: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  width: 1024px;
}

.first-row {
  min-height: 80px;
  position: relative;
  p {
    position: absolute;
    top: 30px;

  }

  a {
    color: $white;
    text-transform: uppercase;
  }
}

.social-list {
position: absolute;
right: 0;
top: 5px;
list-style: none;
border-left: 6px dotted #fff;
  li{
    display: inline-block;
    background-color: $main-red;
    margin: 0 5px 16px 0;
    height: 60px;
    width: 60px;
    position: relative;
  }

  #facebook {
    background-color: $facebook-blue;
    a {
      color: #6C7FB0;
    }
  }

  #rss {
    background-color: $rss-yellow;
    a {
      color: #DAAA6B;
    }
  }

  #twitter {
    background-color: $twitter-blue;
    a {
      color: #8BA9D2;
    }
  }

  #youtube {
    background-color: $youtube-red;
    a {
      color: #C76862;
    }
  }

  i {
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 14px;
  }
}

.social-icon-top {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.social-icon-top:hover i {
  color: $white;
}

.nav {
  li {
    text-align: center;
  }
}
