/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$grid-gutter-width:         11px !default;

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Colors */
$facebook-blue: #435992;
$rss-yellow: #CE8F44;
$twitter-blue: #688EC2;
$youtube-red: #B53632;
$main-red: #B72631;
$black: #000;
$light-grey: #BCBBBC;
$copy-grey: #575757;
$white: #FFF;
$shadow: #8A8987;
$form-grey: #B1B1B1;

/*Fonts*/
$header: 'Titillium Web', sans-serif;
$body: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
/*Global Styles*/

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
  font-family: $open-sans;
}

body::before {
  content:"";
  background-color: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  width: 1024px;
}

.shadow {
  box-shadow: 0 5px #848381;
}

.first-row {
  min-height: 80px;
  position: relative;
  p {
    position: absolute;
    top: 30px;

  }

  a {
    color: $white;
    text-transform: uppercase;
  }
}

.social-list {
position: absolute;
right: 0;
top: 5px;
list-style: none;
border-left: 6px dotted #fff;
  li{
    display: inline-block;
    background-color: $main-red;
    margin: 0 5px 16px 0;
    height: 60px;
    width: 60px;
    position: relative;
  }

  #facebook {
    background-color: $facebook-blue;
    a {
      color: #6C7FB0;
    }
  }

  #rss {
    background-color: $rss-yellow;
    a {
      color: #DAAA6B;
    }
  }

  #twitter {
    background-color: $twitter-blue;
    a {
      color: #8BA9D2;
    }
  }

  #youtube {
    background-color: $youtube-red;
    a {
      color: #C76862;
    }
  }

  i {
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 14px;
  }
}

.social-icon-top {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.social-icon-top:hover i {
  color: $white;
}

.nav {
  margin-top: 20px;
  li {
    text-align: center;
  }

  a {
    text-transform: uppercase;
    color: $white;
    background-color: $main-red;
  }
}

.nav a:hover {
  color: $main-red;
}

.third-row {
  margin-top: 15px;

  .main-image {
    width: 100%;
    height: 360px;
    border: 10px solid $white;
    background-image: url("../images/top-main-edited.jpg");
  }

  img {
  margin-top: 50px;
  margin-left: 26px;
  }
}

.fourth-row {
  margin-top: 15px;

  h2, p, a {
    background-color: $white;
    padding: 10px 21px 10px 21px;
    margin: 0;
  }

  a {
    display: block;
    padding-left: 114px;
    color: $main-red;
    font-weight: bold;
  }

  .date {
    color: $light-grey;
  }
}

.fifth-row {
  position: relative;
  margin-top: 41px;


  .skate-pic {
    height: 232px;
  }

  .name {
    text-align: center;
    border: 5px solid $white;
    color: $white;
    font-family: $header;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 85px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .tall-pic {
    height: 474px;
    .name {
      padding-top: 191px;
    }
  }

  .long-pic {
    position: absolute;
    left: 0;
    top: 242px;
  }

  .lance {
    background-image: url("../images/sk8er-4.png");
    background-position: -123px 0;
  }

  .rodney {
    background-image: url("../images/sk8er-3.png");
  }

  .tommy {
    background-image: url("../images/sk8er-2.png");
    background-position: -393px 4px;
  }

  .steve {
    background-image: url("../images/sk8er-1.png");
    background-position: 0 -95px;
  }
}

.sixth-row {
  margin-top: 31px;

  .skateboard-container {
    height: 295px;
    list-style: none;
    width: 100%;
    font-size: 0;
  }

  li {
    display: inline-block;
    width: 10%;
    margin: 0 auto;
    background-color: $white;
  }

  a {
    display: block;
    height: 295px;
    width: 100%;
  }

  #pic-1 {
    background-image: url("../images/sk8-1.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-2 {
    background-image: url("../images/sk8-2.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-3 {
    background-image: url("../images/sk8-3.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-4 {
    background-image: url("../images/sk8-4.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-5 {
    background-image: url("../images/sk8-5.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-6 {
    background-image: url("../images/sk8-6.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-7 {
    background-image: url("../images/sk8-7.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-8 {
    background-image: url("../images/sk8-8.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-9 {
    background-image: url("../images/sk8-9.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pic-10 {
    background-image: url("../images/sk8-10.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.seventh-row {
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 300px;

  .bottom {
    background-color: $white;
    min-height: 300px;
  }

  /*.bottom-left {*/
    /*height: 280px;*/
  /*}*/

  h3, p {
    padding-left: 40px;
    padding-right: 36px;
  }

  h3 {
    text-transform: capitalize;
    margin-top: 34px;
    font-family: $open-sans;
  }

  .social-nav-small {
    margin-left: 37px;
    margin-top: 11px;
    li {
      padding: 0 1px 0 1px;
    }
  }

  .social-icon-bottom {
    display: block;
    height: 30px;
    width: 30px;
    background-color: $light-grey;
    position: relative;

    i{
      font-size: 22px;
      position: absolute;
      top: 4px;
      left: 5px;
    }
  }

  form {
    line-height: 25px;
    margin-top: 34px;
    margin: 33px;
    position: relative;

    input, textarea{
      display: block;
      border-top: 3px solid $form-grey;
      border-left: 3px solid $form-grey;
      width: 430px;
      margin-bottom: 16px;
      text-transform: uppercase;
      font-family: $open-sans;
    }

    #submit {
      width: 248px;
      background-color: $main-red;
      color: $white;
      text-transform: uppercase;
      position: absolute;
      right: 0;
    }
  }
}

input#submit:hover {
  background-color: #840000;
}
